body {
  padding: 50px;
  font-size: 18px;
}

.presentations {
	margin-top: 50px;
}

.form-group {
	margin-right: 5px;
}

.btn-toolbar>.btn {
	margin-top: 5px;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.presentationDialog {
	background: #fff;
	padding: 10px;
	border-radius:12px;
	display: none;
}